# ignore all ipynb checkpoints

**/.ipynb_checkpoints
**/.__pycache__
__pycache__
matrices
**/.matrices
runs
.csv
.h5
data
send.sh
outputs
test.py
.obsidian

# venv files
bin
lib
lib64
share
pyvenv.cfg